PORT=3000
DB_USERNAME=mcaprin
DB_PASSWORD=mcaprin
DB_HOST=localhost
DB_PORT=5432
DB_NAME=assurmoi


BCRYPT_SALT=MY_BCRYPT_SALT
JWT_SECRET=MY_JWT_SECRET


MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_SECURE=false
MAIL_USER=test@test.com
MAIL_PSW=test
MAIL_FROM=no_reply@test.com

